{
    "presets" : [
        [ "env" , {
                "targets" :{
                    "browser" : [
                        "last five versions",
                        "ie >= 8"
                    ]
                }
            }
        ]
    ]
}